.ember-logo{
    height: 30rem;
}

.relative-slide {
    position: relative;
}

.push-to-bottom{
    position:fixed;
    bottom: 0;
}

ul {
    list-style: none;
    padding: 2em 0;
}

li:before {
    content: '·';
    font-size: 10em;
    padding: 0 .3em 0 0;
}

li {
    text-align: start;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .2em 0; 
}

.social-medias {
    display: flex;
    justify-content: space-between;
    max-width: 55%;
    padding: 1.2em 0;
}

.files-example {
    height: 20em;
}

.flex-row{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.flex-row svg {
    margin: 3em;
    transform: scale(4,4);
}